* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0b0f1a;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #050814;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #00e5ff;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #00e5ff;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Cyber background image */
    background: 
        linear-gradient(rgba(11, 15, 26, 0.85), rgba(11, 15, 26, 0.85)),
        url("images/cyber-bg.jpg.jpg");

    background-size: cover;
    background-position: center;
}


.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #00e5ff;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 60px;
    text-align: center;
}

.services h2,
.why h2,
.about h2,
.contact h2 {
    margin-bottom: 30px;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #11162a;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #00e5ff;
}

/* WHY */
.why ul {
    list-style: none;
}

.why li {
    margin: 10px 0;
}

/* CONTACT */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #00e5ff;
    cursor: pointer;
}

/* FOOTER */
footer {
    padding: 15px;
    text-align: bottom;
    background: #050814;
}
.link-card {
    text-decoration: none;
    color: white;
}
.social-media {
    margin-top: 40px;
    text-align: center;
}

.social-media h3 {
    margin-bottom: 15px;
}

.icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 22px;
    color: #00e5ff;
    transition: 0.3s;
}

.icons a:hover {
    color: white;
    transform: scale(1.2);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.content-wrap {
    flex: 1;
}

footer {
    padding: 15px;
    text-align: center;
    background: #050814;
}





